APP_NAME=Negarify
APP_ENV=production
APP_DEBUG=false
APP_URL=https://api.negarify.com
APP_TIMEZONE=Asia/Tehran

APP_KEY=
APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

LOG_CHANNEL=daily
LOG_LEVEL=debug
LOG_DEPRECATIONS_CHANNEL=null
LOG_STACK=single

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=negarify
DB_USERNAME=
DB_PASSWORD=

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_DB=0
REDIS_CACHE_DB=1

CACHE_STORE=redis
CACHE_PREFIX=

QUEUE_CONNECTION=redis
REDIS_QUEUE_CONNECTION=default
REDIS_QUEUE=default
REDIS_QUEUE_RETRY_AFTER=90

FILESYSTEM_DISK=s3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=
AWS_URL=
AWS_ENDPOINT=
AWS_USE_PATH_STYLE_ENDPOINT=false

SEGMIND_API_KEY=
SEGMIND_API_BASE_URL=https://api.segmind.com

ZARINPAL_MERCHANT_ID=
ZARINPAL_SANDBOX=false

MELIPAYAMAK_USERNAME=
MELIPAYAMAK_PASSWORD=

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log

SANCTUM_STATEFUL_DOMAINS=localhost,127.0.0.1
FRONTEND_URL=http://localhost:3000
SESSION_DOMAIN=null
