<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         stopOnFailure="false"
         stopOnError="false"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="BackendTest">
            <directory>test/backend_test/laravel</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
        <exclude>
            <directory>app/Console</directory>
            <directory>app/Exceptions</directory>
            <file>app/Providers/AppServiceProvider.php</file>
        </exclude>
    </source>
    <coverage>
        <report>
            <html outputDirectory="test/backend_test/reports/coverage"/>
            <text outputFile="test/backend_test/reports/coverage.txt"/>
            <clover outputFile="test/backend_test/reports/coverage.xml"/>
        </report>
    </coverage>
    <logging>
        <testdoxHtml outputFile="test/backend_test/reports/testdox.html"/>
        <testdoxText outputFile="test/backend_test/reports/testdox.txt"/>
        <junit outputFile="test/backend_test/reports/junit.xml"/>
    </logging>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:EZJESMQbJvBqkdgseKl4CTGodvSaavNIeKtMwc9E1WA="/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
        <env name="APP_DEBUG" value="true"/>
        <env name="LOG_CHANNEL" value="stderr"/>
        <env name="LOG_LEVEL" value="debug"/>
        <env name="MELIPAYAMAK_USERNAME" value="test"/>
        <env name="MELIPAYAMAK_PASSWORD" value="test"/>
        <env name="MELIPAYAMAK_AUTH_MODE" value="classic"/>
        <env name="SEGMIND_API_KEY" value="test-key"/>
        <env name="ZARINPAL_MERCHANT_ID" value="test-merchant"/>
        <env name="FILESYSTEM_DISK" value="local"/>
    </php>
</phpunit>
